.hero-text {
  width: 50%;
  transform: translateX(50%);
  font-size: 24px;
}
#logo img {
  width: 50px;
  height: 50px;
  margin: 0 auto;
}
#logo {
  background-image: url('images/68logo carbon2.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  width: 170px;
  height: 50px;
}

.druha-sekcia{  
  background-color: #3a271a !important;
}

.druha-sekcia h3 {
  text-align: center;
}

.druha-sekcia icon {
  text-align: center;
  display: block;
  padding: 3%;
  /* margin: 0 auto; */
}
.image-kokotko {
  width: 100%;
  height: auto;
  max-width: 100%;
  margin: 0 auto;
  padding: 2%;
  border: 3px solid #3a271a;
  border-radius: 20px;
}
.image-kokotko:hover {
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
  transform: scale(1.02);
  transform: translate(10px, 0);
  transition: all 0.6s ease-in-out;
}

.image-picusik{
  margin: 5%;
}

@media screen and (max-width: 768px) {
  .hero-text {
    width: 100%;
    transform: translateX(0);
  }
}
